/* Font */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0 auto;
}

/* Header Section Start */
.header-section{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: rgba(255, 192, 203, 0.11);
    border-radius: 5px;
}
.heading{
    color: #3A3A3A;
    font-weight: 700;
    font-size: 24px;
    margin-left: 65px;
    padding-top: 87px;
}
.head-parent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.headline-info{
    color: #3A3A3A;
    width: 582px;
    height: 133px;
    font-size: 52px;
    font-weight: 700;
    padding-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
}
.info{
    color: #3A3A3A;
    width: 505px;
    height: 60px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
}
.iocn-button a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.iocn-button{
    width: 196px;
    background: #E02C6D;
    padding: 10px;
    border-radius: 20px;
    transition: .5s linear;
    text-align: center;
}
.iocn-button:hover{
    width: 250px;
    padding: 10px;
    cursor: pointer;
}
.heading-img .img{
    width: 440px;
}
.images{
    width: 440px;
}